*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #FDE5D4;
}

/*--Header--*/

nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-container{
    background-color: coral;
    width:100%; 
    height: auto;
}
.nav-container img{
    width: 250px;
 margin: -55px 40px;   
 height: 100%;
}
.nav-container ul li{
    display: inline-block;
    list-style: none;
    margin: 60px 80px;
}
.nav-container ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.nav-container ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-container ul li a:hover{
    color:orangered;
}
.nav-container ul li a:hover::after{
    width: 100%;

}

/*--Landing Page--*/
.image-container img{
    width: 100%;
    height: auto;
    
}
.image-container{
    position: relative;
}
.gradient-overlay{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));
}
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.slide-in {
    animation: slideIn 1s ease-in-out; /* Adjust the duration and timing function as needed */
}
.header-text {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the text perfectly */
    text-align: center;
}
.header-text h1 {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
}
.header-text p{
    color: #fff;
    font-size: 20px;
}
.button button{
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the button perfectly */
    background: coral;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 250px;
}

.button button a{
    color: #fff;
    text-decoration: none;
}

.button button:hover {
    background: orangered; /* Change background color on hover */
}