* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #fde5d4;
}

/*--Header--*/

nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-container {
  background-color: coral;
  width: 100%;
  height: auto;
}
.nav-container img {
  width: 250px;
  margin: -55px 40px;
  height: 100%;
}
.nav-container ul li {
  display: inline-block;
  list-style: none;
  margin: 60px 80px;
}
.nav-container ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.nav-container ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: orangered;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.nav-container ul li a:hover {
  color: orangered;
}
.nav-container ul li a:hover::after {
  width: 100%;
}

/*--Landing Page--*/
.image-container img {
  width: 100%;
  height: auto;
}
.image-container {
  position: relative;
}
.gradient-overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in {
  animation: slideIn 1s ease-in-out; /* Adjust the duration and timing function as needed */
}
.header-text {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the text perfectly */
  text-align: center;
}
.header-text h1 {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
}
.header-text p {
  color: #fff;
  font-size: 20px;
}
.button button {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the button perfectly */
  background: coral;
  color: #fff;
  padding: 15px 30px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 250px;
}

.button button a {
  color: #fff;
  text-decoration: none;
}

.button button:hover {
  background: orangered; /* Change background color on hover */
}

/*--Content--*/
#services h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
  margin-bottom: 30px;
  color: coral;
  font-weight: 500;
  text-decoration: underline;
}
#video-text-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.video-container {
  flex: 0.8;
  margin-right: 20px; /* Adjust the spacing between the video and text */
}

.video-container video {
  width: 100%;
}

.text-container {
  flex: 1;
  padding: 20px; /* Background color for the text container */
}

.text-container h2 {
  font-size: 45px;
  color: coral;
}

.text-container p {
  font-size: 25px;
}
#picture-text-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 30px;
}
.picture-container {
  flex: 0.8;
  padding: 20px;
}
.picture-container img {
  width: 100%;
  transition: transform 0.3s;
}
.picture-container img:hover {
  transform: scale(1.1); /* Enlarge the image on hover */
}

/*--About Us--*/
.title{
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  margin-bottom: 30px;
  color: coral;
  text-decoration: underline;
}
.about-us-text p{
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  padding: 50px;
  font-weight: 700;
}
.button-2 button {
  position: absolute; 
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the button perfectly */
  background: coral;
  color: #fff;
  padding: 15px 30px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
}

.button-2 button a {
  color: #fff;
  text-decoration: none;
}

.button-2 button:hover {
  background: orangered; /* Change background color on hover */
}

/*--Contact Us--*/
.container{
  padding: 10px 10%;
}
.contact-container{
  display: flex;
  justify-content: space-between;
}
.contact-left{
  flex-basis: 30%;
}
.contact-left{
  margin-top: 340px;
}
.contact-right{
  flex-basis: 40%;
  margin-top: 300px;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: coral;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 30px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: orangered;
  transform: translateY(-5px);
}
.btn2{
  width: 150px;
  height: 50px;
  background-color: coral;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  display: inline-block;
}
.btn2:hover{
  background-color: orangered;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.copyright p{
  color: #fff;
}